# Data Science Tools and Ecosystem

In this notebook,Data Science Tools and Ecosystems are summarized.

<b>Objectives:</b>

    - List popular languages for Data Science.
    - Creating a single column table.
    - Calculating simple arithmetic expressions.
    - List commonly used libraries used by Data Scientists.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. C#

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Matplot
3. Scikit-learn

 |Data Science Tools|
 :------------------:
 |Anaconda          |
 |R Studio's        |
 |Jupyter Notebooks |

### Below are a few examples of evaluating arithmetic expressions in Python:
1 + 2 * 6 =

20 / 4 = 

66 / 3 * 3 =

In [1]:
#This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [4]:
#This will convert 200 minutes to hours by diving by 60.
mins = 200
hours = mins/60
print(hours ,"hours")

3.3333333333333335 hours

## Author
Kudakwashe Gombe